    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Live Webcam Feed</title>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style> 
            body{
                background-color: black;
            }

            img{
                width: 50%;
                height: 50%;
                
                
            }
        </style>
    </head>

    <body>

        <video id="webcamFeed"></video> -->
        <canvas id="canvas" style="display:none"></canvas>
        <img id="preview" >


        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="../static/js/controller.js" charset="utf-8"></script> 




    </body>
</html>

